<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./public/style/about.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h2 class="anoi" style: color="white">About Me</h2>
    </header>
    <div class="main-content">
        <div class="img ">
            <img src="./public/images/about_img.jpeg" alt="">
        </div>
        <div class="aboutme">
            <h2>Hello! Im Siva Subramanian Narayanan</h2>
            <p>Interested in coding to learn how the middleware behaves. Hands
                on about the <b>middleware side server monitoring</b> and API functionalities.</p>
            <p> Using regular changes to identify the API speed and Effeciency.
                <b> Documented the API by using Postman</b> having different set of methods in request.
            </p>
            <p>Concentrated on backend technologies like Spring Boot and
                MySQL -hibernate activities.<b>CRUD operations </b>with proper spring security on trending tech.</p>
            <p><b>Sentimental-twitter analysis was developed in the following
                    UI-HTML, CSS, Middleware-Python code-Flask</b> for monitoring the
                Social activites observed.Planning to learn Graph QL technologies via udemy.</p>
            <p>For Code quality Junit Testing- in java and BDD mock in Python
                using for best practice.Learning sonarqube and properties to identify the bugs and vulnerabilities.</p>
            <p>I complete the <b>internship </b>on the topic-<b>Sentiment Analysis
                    for twitter</b> by the domain <b>Natural Language Processing (NLP)</b> using python.</p>
        </div>
    </div>

    <div>
        <h2 class="below-pho">Education Qualification</h2>
        <div class="container">

         <div class="ui-widgets">
            <div class="ui-values">80%</div>
            <div class="ui-labels">SSLC</div>
         </div>

          <div class="ui-widgets">
            <div class="ui-values">80%</div>
            <div class="ui-labels">HSC</div>
          </div>
          <div class="ui-widgets">
            <div class="ui-values">85%</div>
            <div class="ui-labels">UG</div>
          </div>
     </div>
    </div>
    <div class="project">
        <h2>Project</h2>
        <p>I have done so many projects during my carrer and it was very challenging task to provide solution
            for some of the customer with my crew mates of different roles and resposibilities
            here i listed few of them below :
        </p>
        <ol>
            <li>PortFolio</li>
            <li>ChatBot</li>
            <li>Sentiment Analysis for Twitter</li>
            <li>AI in Cloud using IBM</li>
            <li>Data Analysis for cause of Breast Cancer </li>
        </ol>
    </div>    
    <h2 class="serv">My Services</h2>
    <div class="ser-v">
            <h2>Web Developement</h2>
            <p>Since I am a Python programmer which gives me the greate pleasure to built and deploy the web
                developement
                component by using Python's Flask. i can able to serve you the most responsive web design for your
                project.</p>
    </div>
    <div class="web-des">
            <h2>Web Design</h2>
            <p>I am well wished in the field of web desining by producinh and implementing new design
                that is currently using in the industry and also satisfying
                the customer's thoughts and expression </p>
    </div>
    <div class="aidiv">
            <h2>AI & ML Model</h2>
            <p>Executing various Algorithm to train the model for the most accurate result in the field of machine
                Learning
                and developing the human's extreame thougts into action by achieving the Artificial Intelligence models
                to make a change in the traditional method of Analysing the concern.</p>
    </div>
    <div class="back">
            <h2>Back End Developer</h2>
            <p>Here i have mentioned that the backend developemen of the application can be done by
                me.Most probabily i took thr major part in the database connectivity and actions for
                the call of button action.</p>

    </div>
</body>

</html>