<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortFolio</title>
    <link rel="stylesheet" href="./public/style/styles.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>  
<header class="header">
    <a href="#" class="logo">portfolio</a>
    <nav class="navbar">
        <a href="#" style="--i:12;" class="active">home</a>
        <a href="./about.html" style="--i:13;">about</a>
        <a href=" ./skils.html" style="--i:14;">Skills</a>
    </nav>
    <div class="toggle">
        <i class='bx bx-moon toggle-icon'></i>
    </div>
</header>
<section class="home">
    <div class="home-content">
        <h3>Hello, I am</h3>
        <h1>Subbu</h1>
        <p>I am web Developer having smart skills to solve the problem statement with critical thinking.
            Providing the Software Solution to various problem using my skill set.
        </p>

        <div class="social-media">
            <a href="#" style="--i:7;"><i class='bx bxl-facebook-circle'></i></a>
            <a href="#" style="--i:8;"><i class='bx bxl-twitter'></i></a>
            <a href="#" style="--i:9;"><i class='bx bxl-instagram-alt'></i></a>
            <a href="https://www.linkedin.com/in
            /sivasubramanian-narayanan-
            010933265/?originalSubdom
            ain=in" style="--i:10;"><i class='bx bxl-linkedin'></i></a>
        </div>

        <a href="#" class="btn">Download CV</a>
    </div>

    <div class="profession-container"></div>
    <div class="home-img">
        <img class="profile" src="./public/images/home.jpg" alt="">
    </div> 
</section>
<script src="./public/js/script.js"></script>
</body>
</html>