<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="./public/style/skills.css">
    
    <title>Animated Skills Bar</title>
</head>
<body>
    <div class="container">
        <h2 class="summa">My Skills</h2>
        <div class="skill-box">
            <span class="title">HTML</span>
            <div class="skill-bar">
                <span class="skill-per html">
                    <span class="tooltip">90%</span>
                </span>
            </div>
        </div>

        <div class="skill-box">
            <span class="title">CSS</span>
            <div class="skill-bar">
                <span class="skill-per css">
                    <span class="tooltip">70%</span>
                </span>
            </div>
        </div>
        
        <div class="skill-box">
            <span class="title">JavaScript</span>
            <div class="skill-bar">
                <span class="skill-per javascript">
                    <span class="tooltip">50%</span>
                </span>
            </div>
        </div>
        
        <div class="skill-box">
            <span class="title">NodeJS</span>
            <div class="skill-bar">
                <span class="skill-per nodejs">
                    <span class="tooltip">30%</span>
                </span>
            </div>
        </div>
        
        <div class="skill-box">
            <span class="title">Python</span>
            <div class="skill-bar">
                <span class="skill-per python">
                    <span class="tooltip">80%</span>
                </span>
            </div>
        </div>
        
        <div class="skill-box">
            <span class="title">AI & ML</span>
            <div class="skill-bar">
                <span class="skill-per aiml">
                    <span class="tooltip">80%</span>
                </span>
            </div>
        </div>
        
        <div class="skill-box">
            <span class="title">NLP</span>
            <div class="skill-bar">
                <span class="skill-per nlp">
                    <span class="tooltip">85%</span>
                </span>
            </div>
        </div>
        
        <div class="skill-box">
            <span class="title">Figma</span>
            <div class="skill-bar">
                <span class="skill-per figma">
                    <span class="tooltip">65%</span>
                </span>
            </div>
        </div>
        
        <div class="skill-box">
            <span class="title">Cryptography</span>
            <div class="skill-bar">
                <span class="skill-per cryptography">
                    <span class="tooltip">75%</span>
                </span>
            </div>
        </div>
    </div>
</body>
</html>
